body {
    background-color: #f7ecde;
    font-family: "PT Sans Caption", sans-serif;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;
    display: inline-block;
    position: relative;
    z-index: 1;
}

h1::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35%;
    background-color: #fec260;
    z-index: -1;
    transition: all .3s;
}

h1:hover::after {
    height: 65%;
}

.body {
    border-top: 2px dotted #352e28;
    border-bottom: 2px dotted #352e28;
}

h3 {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    background: linear-gradient(to right, #3ca55c 0%, #b5ac49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control:focus{
    border-color: rgb(254, 194, 96);
    box-shadow: 0 0 0 0.2rem rgba(254, 194, 96,.5);
}
.submit{
    background-color: #d1512d;
    border-radius: 5px;
    padding: 6px 48px;
    color: white;
    transition: all .5s;
}
.submit:hover{
    background-color:#bb4120;
    border-color: #a03315;
    color: white;
}
.visit{
    background-color: #9eb23e;
    color: white;
}

.visit:hover{
    background-color: #8a9e23;
    border-color:#6e8018 ;
    color: white;
    transition: all .5s;
}

.delete{
    background-color: #eb1d36;
    color: white;
}
.delete:hover{
    background-color: #d30820;
    border-color:#ba081d ;
    color: white;
    transition: all .5s;
}
.modal-body p{
    font-family: "Bree Serif", serif;
    font-size: 21px;
    color: #352e28;
}
.modal-body span{
    font-size: 18px;
    padding-top: 10px;
    display: block;
}